* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(25, 25, 99);
    display: flex;
    flex-direction: column;
}

header {
    color: #ffffff;
    margin: 15px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#input-localizacao {
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

hr {
    margin-top: 15px;
    border: 1px solid #ffffff40;
    box-shadow: 0 0 10px #00000080;
}

#container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
    color: #ffffff;
}

#cards-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    max-width: 700px;
    border: 1px solid #ffffff40;
    border-radius: 8px;
    box-shadow: 0 0 10px #00000080;
}

#tempo-atual {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container-detalhes {
    display: flex;
    flex-direction: row;     
    justify-content: space-between; 
    align-items: center;      
    gap: 50px;                
    width: 100%;
    margin-top: 20px;
}

.container-titulo {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#descricao-tempo-atual, #tempo-atual {
    display: flex;
    flex-direction: column;
}

#mini-cards {
    display: flex;
    flex-direction: row;
}

.cards-subs {
    border: 1px solid #ffffff40;
    box-shadow: 0 0 10px #00000080;
    width: 12vh;
    height: 24vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card6 {
    border-radius: 0px 6px 10px 0px;
}

#card1 {
    border-radius: 6px 0px 0px 10px;
}

.titulo-card {
    font-size: 12px;
    text-align: center;
    margin: 20px;
    color: #ffffff;
}

.img-mini-cards {
    height: 4em;
    
}

.data-cards {
    font-size: 12px;
    margin: 15px;
}

.graus-cards {
    font-size: 12px;
    margin: 15px; 
}